<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="hotelapp" content=""/>
    <meta name="Ben Rose" content=""/>

    <title>Bookings</title>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyB-F_NBKq3GXbkddEyEi_2Uzmf9qIF2arM&amp;libraries=places" async="async"></script>;
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<link href="../static/css/common.css" th:href="@{css/common.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/bookings.js" th:src="@{js/bookings.js}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="../" th:src="@{pics/hopper_icon.png}" id="hopperIcon"/></a>
                    <a class="navbar-brand" th:href="@{/bookings}"><p>Bookings</p></a>
            </div>
            <ul class="nav navbar-nav">

            </ul>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="backToSearch" th:href="@{/index}"><span class="glyphicon glyphicon-search"></span>Back to search</a></li>
                    <li><a id="logOut" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div th:if="${bookingList != empty}">
            <div th:each="booking : ${bookingList}" class = "row">
                <p class = "col-xs-10 hotelName" th:text="${booking.getHotelName()}"></p>
                <p class = "hotelId" th:text="${booking.getHotelId()}"></p>
                <button class="col-xs-1 btn btn-primary btn-sm view"><span class="glyphicon glyphicon-eye-open"></span></button>
                <button class="col-xs-1 btn btn-primary btn-sm delete"><span class="glyphicon glyphicon-remove-circle"></span></button>
            </div>
        </div>
    </div>
    <!-- /container -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modalBody" class="modal-body" style="width: 500px; height: 400px">

          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
<!--  /modal -->
</body>
</html>
